<div class="card">
    <div class="card-body">
        <form #post1Form="ngForm" (ngSubmit)="onPostAdd()">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" ngModel name="title" id="title">
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <input type="text" class="form-control" ngModel name="body" id="body">
            </div>
             <button mat-raised-button color="primary" class="btn btn-block">Add PostCadr</button>
        </form>
    </div>
</div>